.boardHeaderBar {
  background-color: #9dc3e6;
  width: 100vw;
  height: 10vh;
  display: flex;
  position: relative;
  color: #757575;
  box-shadow: 0 3px 5px rgba(0,0,0,0.30);
}
.boardHeaderBar > img {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.linkBackButton {
  margin: auto auto auto 3vw;
}
.linkSearchButton {
  margin: auto 3vw auto auto;
}
.linkBackButton > button,
.linkSearchButton > button {
  background-color: rgba(0,0,0,0);
  width: 8vh;
  height: 8vh;
  padding: 0;
  border-radius: 50px;
  border: 0;
  outline: 0;
}
.linkBackButton > button:hover, 
.linkSearchButton > button:hover {
	background-color: rgba(0,0,0,0.05);
}
.linkBackButton > button:active,
.linkSearchButton > button:active {
	background-color: rgba(0,0,0,0.15);
}
.moveBackImg,
.moveSearchImg{
  width: 5vh;
  height: 5vh;
  margin: auto auto;
  border-radius: 50px;
  color: #757575;
}

.boardCategoryBar{
  background-color: #c9d3fb;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
}
.leftButton{
  background-color: #c9d3fb;
  width: 50vw;
  height: 10vh;
  padding: 0;
  margin: 0 auto 0 0;
  font-family: "aSmile";
  font-size: 4vh;
  color: #1d4999;
  border: 0;
  outline: 0;
}
.rightButton{
  background-color: #ddcafa;
  width: 50vw;
  height: 10vh;
  padding: 0;
  margin: 0 0 0 auto;
  font-family: "aSmile";
  font-size: 4vh;
  color: #1d4999;
  border: 0;
  outline: 0;
}
.centerText{
  margin: auto auto;
  font-family: "aSmile";
  font-size: 4vh;
  color: #1d4999;
}

.board.left,
.boardCenter{
  background-color: #c9d3fb;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
}
.board.right {
  background-color: #ddcafa;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.moveWriteButton {
  background-color: #1d4999;
  width: 8vh;
  height: 8vh;
  padding: 0;
  position: absolute;
  top: 80%;
  right: 5%;
  border-radius: 50px;
  border: 0;
  outline: 0;
  box-shadow: 0 4px 7px rgba(0,0,0,0.30);
}
.moveWriteButton:hover {
	background-color: #183c80;
}
.moveWriteButton:active {
	background-color: #183c80;
}
.moveWriteImg{
  width: 5vh;
  height: 5vh;
  margin: auto auto auto auto;
  color: white;
}

.boardTable {
  width: 100vw;
  height: 75vh;
  display: flex;
}
.boardTable > div {
  width: 95vw;
  margin: 2.5vh auto auto auto;
}

.boardPagination {
  width: 100vw;
  height: 7.5vh;
  display: flex;
}
.boardPagination > div {
  height: auto;
  margin: 0 auto auto auto;
}

@font-face {
  font-family: "aSmile_L";
  src: url(../../fonts/aSmile_L.ttf);
}

@font-face {
  font-family: "aSmile";
  src: url(../../fonts/aSmile.ttf);
}