body {
  background-color: #c9d3fb;
}

.headerBar{
  background-color: #9dc3e6;
  width: 100vw;
  height: 10vh;
  display: flex;
  color: #757575;
  box-shadow: 0 3px 5px rgba(0,0,0,0.30)
}

.Input {
  width: 80vw;
  height: 5vh;
  margin: auto 0.5vw auto auto;
  font-family: "aSmile_L";
  font-size: 2.5vh;
}

.searchButton {
  background-color: rgba(0,0,0,0);
  width: 8vh;
  height: 8vh;
  padding: 0;
  margin: auto auto auto 0.5vw;
  border-radius:50px;
  border: 0;
  outline: 0;
}
.searchButton:hover {
	background-color: rgba(0,0,0,0.05);
}
.searchButton:active {
	background-color: rgba(0,0,0,0.15);
}

.searchImg{
  width: 5vh;
  height: 5vh;
  margin: auto auto auto auto;
  color: #757575;
}

.NoResults {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.NoResultsImg {
  max-width: 30vw;
  max-height: 30vh;
  margin: auto auto 1vh auto;
}

.NoResultsMsg {
  margin: 1vh auto auto auto;
  text-align: center;
  white-space: pre-line;
  font-family: "aSmile";
  font-size: 5vh;
  color: #1d4999;
}

@font-face {
  font-family: "aSmile_L";
  src: url(../font/aSmile_L.ttf);
}

@font-face {
  font-family: "aSmile";
  src: url(../font/aSmile.ttf);
}
