.writeHeaderBar{
    background-color: #9dc3e6;
    width: 100vw;
    height: 10vh;
    display: flex;
    color: #757575;
    box-shadow: 0 3px 5px rgba(0,0,0,0.30);
}

.linkFinButton{
    margin: auto 0;
}
.finButton{
    background-color: #1d4999;
    padding: 0.5vh 2vh;
    margin: auto 5vw;
    border-radius: 10px;
    border: 0;
    outline: 0;
    font-family: "aSmile_L";
    font-size: 2.5vh;
    color: white;
}
.categoryButton{
    background-color: rgba(0,0,0,0);
    margin: auto auto;
    border: 0;
    outline: 0;
    font-family: "aSmile";
    font-size: 4.5vh;
    color: white;
}

.writeInput {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 90vh;
    margin: auto auto;
}

#title{
    width: 100%;
    height: 10vh;
    margin: auto auto;
    border: none;
    border-bottom: solid 1px #ababab;
    font-family: "aSmile";
    font-size: 3.5vh;
}
#date,
#buyLocation,
#accumulate,
#pickupLocation{
    width: 100%;
    height: 7vh;
    margin: auto auto;
    border: none;
    border-bottom: solid 1px #ababab;
    font-family: "aSmile_L";
    font-size: 3vh;
}
#title:focus,
#date:focus,
#buyLocation:focus,
#accumulate:focus,
#pickupLocation:focus,
#content:focus{
    outline: none;
}
.infoContent{
    width: 100%;
    height: 75vh;
    margin: auto auto;
    border: none;
    resize: none;
    font-family: "aSmile_L";
    font-size: 3vh;
}
.ottContent{
    width: 100%;
    height: 50vh;
    margin: auto auto;
    border: none;
    resize: none;
    font-family: "aSmile_L";
    font-size: 3vh;
}
.deliveryContent{
    width: 100%;
    height: 45vh;
    margin: auto auto;
    border: none;
    resize: none;
    font-family: "aSmile_L";
    font-size: 3vh;
}

@font-face {
    font-family: "aSmile_L";
    src: url(../../fonts/aSmile_L.ttf);
}
  
@font-face {
    font-family: "aSmile";
    src: url(../../fonts/aSmile.ttf);
}